* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    background-color: rgb(66, 131, 92);
}

.headerNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.headerNav p {
    margin: 2em;
}
.upperCase,
#title,
.title {
    text-transform: uppercase;
    color: brown;
    font-weight: bolder;
}

.socialMedia{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: beige;
}